.content{
    position: relative;
    max-width: 960px;
    margin:auto;
}
header{
	width: 100%;
    margin:auto;
    background: #D8E3AB;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    height: auto;
    
}
.logo{  
    margin: auto;
    height: auto;
    max-width: 960px;
}
.logo img{
    float:left;
    margin-left: 25px;
    margin-top: 5px;
    margin-right: 20px;
}
.logo h1{
    display: inline-block;
    vertical-align: middle;
}
footer{
    width: 100%;
    margin-top:5px;
    background: #D8E3AB;
    height: 70px;
    text-align: center;
}
.current{
    margin-left: 25px;
}
.menu a{
    margin-right:24%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
nav{
    background: #D8E3AB;
}
.menu{
    max-width: 960px;
    margin: auto;
}
.nechet{
    background:rgb(229, 233, 169);
}
#table {
    font-family:Arial, Helvetica, sans-serif;
}